[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansiscape = "~=1.1.0"
pyyaml = "*"

[dev-packages]
black = "==21.8b0"
dinject = "~=1.0.4"
flake8 = "*"
isort = "*"
mkdocs = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
sphinx = "*"
twine = "*"
types-pyyaml = "*"
yamllint = "*"
furo = "*"

[requires]
python_version = "3.10"
